@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rowdies:wght@700&family=Solitreo&display=swap');

:root {
  --font-family: 'Righeous', 'Rowdies';
  --white: #FFFFFF;
  --Black: #000000;
  background-image:url("./../image/image.jpg") ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}